.tableGrid {
    width: 95%;
    height: 95%;
}

html, body {
    height: 100%;
}

.chosen-choices {
    max-height: 75px;
    overflow-y: auto !important;
}

.dropdown-menu {
    background: #333;
}

    .dropdown-menu > li > a {
        color: #9d9d9d;
    }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            color: white;
            background: #333;
        }
