.tableGrid {
    width: 95%;
    height: 95%;
}

html, body {
    height: 100%;
}

.styleNavbar li {
    width: 150px;
}

/*.nav > li > a:focus {
    text-decoration: none;
    background-color: black;
}

.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}*/

.chosen-choices {
    max-height: 75px;
    overflow-y: auto !important;
}
