<div style="display:flex;">
    <div style="margin-left:auto;margin-right:auto;">
        <img style="height:200px;" src="Content/images/marriage.jpg" />
        <div style="display:flex;">
            <div style="flex:1;">
                <div>
                    <img src="Content/images/Bride.png" style="height:150px;cursor:pointer;" ng-click="$ctrl.buttonClicked('/matrimony/bride')" />
                    <div>
                        <button class="btn" ng-click="$ctrl.buttonClicked('/matrimony/bride')">Bride</button>
                    </div>
                </div>
            </div>
            <div style="flex:1;">
                <div style="float:right;">
                    <img src="Content/images/Groom.png" style="height:150px;cursor:pointer;" ng-click="$ctrl.buttonClicked('/matrimony/groom')" />
                    <div>
                        <button class="btn" ng-click="$ctrl.buttonClicked('/matrimony/groom')">Groom</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>