<!--<div class="navbar">
    <ul class="nav navbar-nav">
        <li ng-class="navClass('home')"><a href='' ng-click="$ctrl.loadHome()">Home</a></li>
        <li ng-class="navClass('about')"><a href='' ng-click="$ctrl.loadGroom()">BrideGroom</a></li>
        <li ng-class="navClass('contact')"><a href='' ng-click="$ctrl.loadContact()">Contact Us</a></li>
    </ul>
</div>
<p ng-if="$ctrl.groom">testtest</p>
<groom-Engineer ng-if="$ctrl.groom"></groom-Engineer>
<input type="text" ng-model="$ctrl.food" placeholder="Enter food" />

<p>Sriracha sauce is great with {{$ctrl.food}}!</p>-->
<!--<div style="height:10%;">

</div>-->
<nav class="navbar styleNavbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Karuneegar Sabha</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" ng-click="$ctrl.loadHome()">Home</a></li>
            <li>
                <a href="#" ng-click="$ctrl.loadGroom()"> Groom</a>
            </li>
            <li>
                <a href="#" ng-click="$ctrl.loadBride()"> Bride Groom</a>
            </li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>
<div style="display:flex; overflow-y: auto;height:90%">

    <div layout="column" style="flex:1;height:90%;">
        <div style="height:95%;">
            <home-Page ng-if="$ctrl.loadHomePage"></home-Page>
            <groom data="$ctrl.groomData" stars="$ctrl.starTypes" ng-if="$ctrl.loadGroomPage"></groom>
            <bride data="$ctrl.brideData" stars="$ctrl.starTypes" ng-if="$ctrl.loadBridePage"></bride>
        </div>
    </div>
</div>
